<!DOCTYPE html>
<html>
<head>
  <title>Solebrity Data Browser</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='wrapper'>
    <%= react_component('app.Sidebar', {
      :items => ['good'],
      :itemsPluralized => ['goods'],
      :filtered => false,
      :keys => ['id'],
      :types => ['string'],
    }.to_json) %>
    <%= yield %>
  </div>
</body>
</html>
